<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="preconnect" href="https://gstatic.loli.net" crossorigin="">
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="mask-icon" href="/images/safari-logo.svg" color="#222">
    <link rel="preload" href="/googlefont.css" as="style" onload="this.rel='stylesheet'">
    <title><%= title %></title>
<script type="module" crossorigin src="/assets/index.ab50db66.js"></script>
  <link rel="modulepreload" href="/assets/vendor.3ed8d532.js">
  <link rel="stylesheet" href="/assets/vendor.e075551c.css">
  <link rel="stylesheet" href="/assets/index.074909bc.css">
<link rel="manifest" href="/manifest.webmanifest"><script src="/registerSW.js"></script></head>
<body>
<noscript>
    <strong>We're sorry but <%= title %> doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->


<script nomodule>!function(){var e=document,t=e.createElement("script");if(!("noModule"in t)&&"onbeforeload"in t){var n=!1;e.addEventListener("beforeload",(function(e){if(e.target===t)n=!0;else if(!e.target.hasAttribute("nomodule")||!n)return;e.preventDefault()}),!0),t.type="module",t.src=".",e.head.appendChild(t),t.remove()}}();</script>
  <script nomodule src="/assets/polyfills-legacy.1669762b.js"></script>
  <script nomodule id="vite-legacy-entry" data-src="/assets/index-legacy.3f6931ac.js">System.import(document.getElementById('vite-legacy-entry').getAttribute('data-src'))</script>
</body>
</html>
