@import "icons.scss";

:root {
  --global-font-size: 62.5%;

  --el-border-radius-middle: 8px;
}

/*字号统一控制*/
html {
  font-size: var(--global-font-size, 62.5%);
}

* {
  scrollbar-color: var(--el-scrollbar-bg-color) var(--el-fill-color-light);
}

::-webkit-scrollbar {
  width: .8rem;
}

::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: .8rem;
  transition: all .2s ease-in-out;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #fff3;
}

::-webkit-scrollbar-track {
  border-radius: .8rem;
}

html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: block;
  vertical-align: top;
}

#app {
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Lora, 'Noto Serif SC', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--el-text-color-primary);
}

a {
  color: var(--el-color-primary);
  text-decoration: none;
}

pre,
code, kbd, samp {
  font-family: JetBrains Mono, monospace;
}

.el-blockquote {
  margin: 1em 0;
  padding: 0 0 0 0.6em;
  border-left: 4px solid rgba(100,100,100,.2);
  opacity: .85;
}

.ant-typography {
  color: var(--el-text-color-primary) !important;
}
