.tips[data-v-05e5f8e4]{width:100%;height:100%;padding:.5rem .8rem;color:red}.panel[data-v-05e5f8e4]{width:100%;height:100%;padding:.5rem .8rem}.panel .ant-calendar-picker[data-v-05e5f8e4]{width:100%}
