name: Auto Test

on:
  push:
    branches-ignore:
      - 'deploy'
      - 'deploy-beta'
    paths-ignore:
      - '.github/**'
  pull_request:
    branches-ignore:
      - 'deploy'
      - 'deploy-beta'
    paths-ignore:
      - '.github/**'
  workflow_dispatch:
    branches-ignore:
      - 'deploy'
      - 'deploy-beta'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 7
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Build app
        run: pnpm run build

      - name: Deploy App
        if: ${{ github.ref_name == 'main' }}
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
          branch: deploy
          force: false

      - name: Deploy App Beta
        if: ${{ github.ref_name == 'dev' }}
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
          branch: deploy-beta
          force: false
